html, body {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

a {
    color: inherit;
}

input, button {
    outline: none;
}

.owf {
    color: white;
    vertical-align: middle;
}

.my-clickable {
    cursor: pointer;
}