.partlyCloudy {
    background: linear-gradient(rgb(218,226,248), rgb(214,164,164));
}

.sunny {
    background: linear-gradient(rgb(255,78,80),rgb(249,212,35));
}

.cloudy {
    background: linear-gradient(rgb(236,233,230),rgb(255,255,255));
}

.snowing {
    background: linear-gradient(rgb(230,218,218),rgb(39,64,70));
}

.rain {
    background: linear-gradient(rgb(97,97,97),rgb(155,197,195));
}

.haze {
    background: linear-gradient(rgb(117,127,154),rgb(215,221,232));
}

.fog {
    background: linear-gradient(rgb(255,255,255),rgb(236,233,230));
}

.thunder {
    background: linear-gradient(rgb(35,37,38), rgb(65,67,69));
}

.moreclouds {
    background: linear-gradient(rgb(117,127,154),rgb(215,221,232));
}

.temperature {
    font-size: 5rem;
}

.swing {
    perspective: 100px;
}
.swing li {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    background-color: rgba(255, 255, 255, 0.6);
}

.swing li.show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    box-shadow: 0 0 0.5rem;
}

/**/
.fade {
    transition: opacity 1000ms;
}
.fadeOut {
    opacity: 1;
}
.fadeIn {
    opacity: 0;
}