.partlyCloudy {
    background: linear-gradient(rgb(218,226,248), rgb(214,164,164));
}

.sunny {
    background: linear-gradient(rgb(255,78,80),rgb(249,212,35));
}

.cloudy {
    background: linear-gradient(rgb(236,233,230),rgb(255,255,255));
}

.snowing {
    background: linear-gradient(rgb(230,218,218),rgb(39,64,70));
}

.rain {
    background: linear-gradient(rgb(97,97,97),rgb(155,197,195));
}

.haze {
    background: linear-gradient(rgb(117,127,154),rgb(215,221,232));
}

.fog {
    background: linear-gradient(rgb(255,255,255),rgb(236,233,230));
}

.thunder {
    background: linear-gradient(rgb(35,37,38), rgb(65,67,69));
}

.moreclouds {
    background: linear-gradient(rgb(117,127,154),rgb(215,221,232));
}

/**/

.temperature {
    font-size: 5rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
}

/**/
.swing-animation {
    perspective: 100px;
}
.swing-animation li {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    background-color: rgba(255, 255, 255, 0.6);
}

.swing-animation li.show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    box-shadow: 0 0 0.5rem;
}
/**/
.my-weather-container {
    width: 800px;
    margin: 0 auto;
}

.my-weather-container__weather-details {
    height: 28rem;
}

.my-weather-container__weather-details__header {
    text-align: center;
}

.my-weather-container__weather-details h1 {
    margin-top: 0;
    padding-top: 1rem;
}

.my-weather-container__search-details {

}

.my-weather-container__search-details__searchbox {
    box-shadow: 0 0 2rem white;
}

.my-weather-container__search-details__weather-advices {
    margin: 1rem 0;
}

.my-weather-container__search-details ul {
    padding: 0;
    margin: 0;
}

.my-weather-container__search-details ul li {
    padding: 0.5rem;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

/**/
.fade-animation {
    transition: opacity 1000ms;
}
.fade-animation.fadeOut {
    opacity: 1;
}
.fade-animation.fadeIn {
    opacity: 0;
}
/**/
.my-weather-item-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-item {
    width: 50%;
    margin: 0 0.5rem;
    text-align: center;
}

.my-progress-container {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    height: 100px;
}

.my-progress-container__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.my-progress-container__progressbar {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.my-progress-container__progressbar_blue {
    background-color: blue;
}

.my-progress-container__progressbar_white {
    background-color: white;
}